In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [20]:
mrt_traffic_data = pd.read_csv("../data/efoi_data_raw.csv")
manila_weather_data = pd.read_csv("../data/file.csv")
mrt_breakdowns_data = pd.read_csv("../data/mrt_status.csv")

In [21]:
# Clean and append missing data for mrt_traffic_data
# Check which rows have missing data
mrt_traffic_data[mrt_traffic_data.isnull().T.any().T]

,Date,North Ave entry,North Ave exit,Quezon ave entry,Quezon ave exit,Gma Kamuning Entry,Gma Kamuning Exit,Cubao Entry,Cubao Exit,Santolan Entry,...,Buendia Entry,Buedia exit,Ayale Entry,Ayala Exit,Magallanes Entry,Magallanes Exit,Taft Entry,Taft Exit,Total entry,Total Exit
102,04/13/17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,04/14/17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,04/15/17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,04/16/17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
# Since the missing data is for 4 consecutive days in the month of April(Thursday, Friday, Saturday and Sunday)
# Imputation will be through the average of respective complete days for the month of april

data = mrt_traffic_data.drop('Date', 1)

april_thursday = [data[95:96].values, data[109:110].values, data[116:117].values]
april_friday = [data[96:97].values, data[110:111].values, data[117:118].values]
april_saturday = [data[90:91].values, data[97:98].values, data[111:112].values, data[118:119].values]
april_sunday = [data[91:92].values, data[98:99].values, data[112:113].values, data[119:120].values]

In [23]:
#average the repective april days
impute_04_13_17 = np.average(april_thursday, axis=0)
impute_04_14_17 = np.average(april_friday, axis=0)
impute_04_15_17 = np.average(april_saturday, axis=0)
impute_04_16_17 = np.average(april_sunday, axis=0)

#then impute them to the dataset
data.loc[102:102] = impute_04_13_17
data.loc[103:103] = impute_04_14_17
data.loc[104:104] = impute_04_15_17
data.loc[105:105] = impute_04_16_17

In [24]:
# Check for null data
data.isnull().values.any()

False

In [25]:
# insert the dates column again
data.insert(0, "date", mrt_traffic_data["Date"].values, allow_duplicates=False)
mrt_traffic = data

In [38]:
# Get precipitation data from weather csv and insert to main dataframe
mrt_traffic.insert(1, "precip", manila_weather_data["precip"][:365].values, allow_duplicates=False)
mrt_traffic.date = pd.to_datetime(mrt_traffic.date)

In [41]:
mrt_breakdowns_data.head()

,time,reason,dir,station,cat_type,day
0,5:37 AM,Train unloaded passengers due to technical pro...,South Bound,Ortigas - Shaw Boulevard,CAT 3,"January 10, 2018"
1,8:19 AM,Train unloaded pax at Shaw Blvd Stn SB due to ...,South Bound,Shaw Boulevard,CAT 3,"January 09, 2018"
2,10:02 AM,Train unloaded pax at Shaw. Blvd. Stn NB due t...,North Bound,Shaw Boulevard,CAT 3,"January 07, 2018"
3,5:19 AM,Service interruption due to technical problem.,South Bound,North Avenue,CAT 4,"January 06, 2018"
4,6:07 AM,Normal operations resumed.,South Bound,North Avenue,CAT 1,"January 05, 2018"

In [43]:
#for visualization time, reason, direction and station seem to be relevant data
# day must be converted
mrt_breakdowns_data.day = pd.to_datetime(mrt_breakdowns_data.day)

In [45]:
# Select only 2017
mrt_breakdown_2017 = mrt_breakdowns_data[(mrt_breakdowns_data['day'] > '2017-1-1') & (mrt_breakdowns_data['day'] <= '2017-12-31')]

In [76]:
mrt_breakdown_2017 = mrt_breakdown_2017.rename(columns = {'day':'date'})

In [100]:
mrt_breakdown_2017.date = pd.to_datetime(mrt_breakdown_2017.date)
mrt_traffic.date = pd.to_datetime(mrt_traffic.date)

final_data = pd.merge( mrt_traffic,mrt_breakdown_2017, on='date', how="outer")

In [101]:
# Heavy lifting is done, rest of data cleaning will be done through excel
# Data analysis and exploration will be done in another notebook
final_data.to_csv("mrt_data.csv", index=False)